
  <h1>Admin controls page</h1><br>
  
  <p> <a href="/userlist">User List</a><br></p>
  
  <p><a href="/articlelist">Article List</a><br><br><br></p>
  
  <form action="/reset" method="post">
      
      <p><input type="submit" value="Reset Database"></p>
  
   </form>
  
  <form action="/archivetext" method="post">
      
      <p><input type="submit" value="Archive to Text">  </p> 
  
   </form>
  
  