
<h2>Admin controls page</h2><br>

<a href="/userlist">Users</a><br>

<a href="/articlelist">Articles</a><br><br><br>

<form action="/reset" method="post">
    
    <input type="submit" value="Reset Database">

 </form>

<form action="/archivetext" method="post">
    
    <input type="submit" value="Archive to Text">   

 </form>