	
	
	<h2>Create article</h2><br>
	
	<form action="/create" method="post">
	
		<p>Heading</p>
		
		<p><textarea rows="1" col="90" name="heading"></textarea></p>
		
		<p>Content</p>
		
		<p><textarea rows="20" col="90" name="content"></textarea></p>
		
		<input type="submit" value="Submit">
		
	</form>
	
	
	
	<section id="add">
	
	<p><%= $myinfo %></p>
	
	</section>