
<h1>Create account</h1><br>

<form action="/createaccount" name="myForm" onsubmit="return validateForm()" method="post">  <!--Calling form validation script from here.-->

    <p>Username:<input type="text" name="username"></p><br>

    <p>Password: <input type="password" name="password"></p><br>
   
    <p><input type="submit" value="Create!"> </p>

</form>  