
<h2>Create account</h2><br>

<form action="/createaccount" name="myForm" onsubmit="return validateForm()" method="post">  <!--Calling form validation script from here.-->

    Username:<input type="text" name="username"><br>

    Password:<input type="password" name="password"><br>
   
    <input type="submit" value="Create!">  

</form>  