	
	
	<h1>Create Article</h1>
	
	<p>Submitted article will be sent to moderators for approval.</p>
	
	<form action="/create" method="post">
	
		<p>Article Heading:</p>
		
		<p><textarea rows="1" col="100" name="heading"></textarea></p>
		
		<p>Content:</p>
		
		<p><textarea rows="20" col="100" name="content"></textarea></p>
		
		<p><input type="submit" value="Submit"><p>
		
	</form>
	
	
	
	