
	<h2>Create article</h2><br>
	
	<form action="/edit" method="post">
	
		<p>Heading</p>
		
		<p><textarea rows="1" cold="90" name="heading"></textarea></p>
		
		<p>Content</p>
		
		<p><textarea rows="20" cold="90" name="content"></textarea></p>
		
		<input type="submit" value="Submit">
		
	</form>
