
<h1>Edit article</h1><br>
	
	<form action="/edit" method="post">
	
		<p><h1 rows="1" col="90"><%= myheading%></h1></p>
		
		<input type="hidden" name="heading" value="<%= myheading%>">
		
		<p><textarea rows="20" col="90" name="content"><%= mycontent%></textarea></p>
		
		<p><input type="submit" value="Submit"></p>
		
	</form>
	
