<!DOCTYPE html>
<html>
<head>

    <script src="/script.js"></script>

    <meta charset="UTF-8">

	<meta name="viewport" content="width=device-width">

	<meta name="description" content="This is my new Wiki app" />

	<meta name="keywords" content="wiki, test app, blog"/>

	<link rel="stylesheet" href="style.css" type="text/css" />

	<title>My Wiki application</title>

</head>


<body>

	<div  class="main_container">

        <header>
        
            <div class="page_title">
        
                <h1>My Wiki App</h1><br>
            
            </div>
            
            <div class="navbar">
        
                <div class= "links">
            
                    <a href="/">Home</a>
                
                </div>
                
                <div class= "links">
                    
                    <a href="/about">About</a>
                    
                </div>
                
                <div class= "links">
                    
                    <a href="/archive">Archive</a>
                    
                </div>
               
                <div class= "links">
                    
                <a href="/rankings">Rankings</a>
                    
                </div>
               
                <div class= "links">
                    
                    <a href="/create">Create</a>
                    
                </div>
               
                <div class= "links">
                    
                    <a href="/approve">Approve</a>
                    
                </div>
               
                <div class= "links">                
                                          
                    <% if $credentials %>
        
                           <% if $credentials[0] != '' %>
        
                                <a href="/logout">Logout</a> <br> 
        
                                Logged in as <a href="/user/<%= $credentials[0] %>"><b><%= $credentials[0] %></b></a> <br> 
        
                                <% if $credentials[0] == "Admin" %>
        
                                    <a href="/admincontrols">Admin Controls</a>
        
                                <% end %>
        
                            <% else %>
        
                                <a href="/login">Login</a>
        
                            <% end %> 
        
                        <% else %>
        
                           <a href="/login">Login</a>
        
                        <% end %> 
                </div>
            
            </div> 
            
        </header>
        
                    
            <div class="view_content"> 
            
                <%= yield %>     
            
            </div> 
        
        
            <footer>
                
                <p>Created by Artur Jaakman and Md Nazmus Sakib 2018</p>
                
            </footer>
        
        
    </div>

</body>
</html>